# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Images.csv
Products.csv
images_fb.zip
cleaned_images_512/*
cleaned_images_64/*
runs/*
*.pth
test/*
image_embeddings.json
image_embeddings.npy